root_inputs/veriler.jsonl filter=lfs diff=lfs merge=lfs -text
trdizin_crossref_doi_stats_10k/crossref_bibliographic_fallback_cache.json filter=lfs diff=lfs merge=lfs -text
root_inputs/*.jsonl filter=lfs diff=lfs merge=lfs -text
